
<p-tabView>
    <p-tabPanel header="Ofertas Aplicadas" leftIcon="pi pi-inbox">
        <app-ofertas-aplicadas></app-ofertas-aplicadas>
    </p-tabPanel>
    <p-tabPanel header="Empresas Interesadas" rightIcon="pi pi-dollar">
        <app-empresas-interesadas></app-empresas-interesadas>
    </p-tabPanel>
</p-tabView>


<button pButton type="button 1" label="Click" class="btn"></button>
<p-button label="boton 2" ></p-button>

<button pButton type="button" label="Danger" class="p-button-danger"></button>